#profile_pic {
  flex-basis: 43px;
  height: 70px;
  float: left;
}
img {
  max-width: 80px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 7px;
  }

#messages {
  height: 40px;
  margin-top: 20px;
  display: flex;
  float: right;
  width: 150px;
  justify-content: space-between;

}
h4 {
  margin: 5px;
  padding: 17px;
}
