#chat_background{
  position: fixed;
  top: 0%;
  bottom: 0%;
  margin: auto;
  width: 70%;
  height: 90%;
  background-color: #fff;
  right: 0px;  /* to make the div to be in the center make right and left to 0px */
  left: 0px;
  box-shadow: -2px -2px 7px #666; /* draw a shadow around the box to make stand out */

  border-radius: 3px;
}
